     <div id='container'> 
            
        <img src="user-logo.png" width="330" height="400" >    
      </div>
      <div class="login-form">
          
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required" id="Uname">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required" id="pass">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" id="loginbtn" >Log in</button>
        </div>        
    </div>   
   <script>
        const  logBtn = document.getElementById('loginbtn');
        const usName = document.getElementById('Uname');
        const usPass = document.getElementById('pass');
        logBtn.addEventListener('click',(evt)=>{
          console.log(usName.value);
          let request = new XMLHttpRequest();
          request.open('POST','/admin');
          request.setRequestHeader('Content-Type','application/json;charset=UTF-8');
          request.responseType = "json";
          request.onload= function(evt){
                if (request.status==200){
                    let res= request.response;
                    if (res.text){
                        window.location = res.location;
                    }
                    else{
                        window.alert(res.location);
                    }
                }
                else{
                    console.log("err",request);
                }
                };
          let obj={
            text:'Please let me in!',
            user:usName.value,
            pass:usPass.value
          };
          request.send(JSON.stringify(obj));
          
        }); 
   </script>
     