<div class="jumbotron jumbotron-fluid">
    <div class="container">
       <h1 class="display-4">Already Logged In</h1>
       <p class="lead">Please Sign Out to Access this feature.</p>
    </div></div>