
  
      <div id='container'> 
            
        <img src="people.svg" width="330" height="400" >    
      </div>
      <div class="login-form">
          
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required" id="Uname">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required" id="pass">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" id="loginbtn" >Log in</button>
        </div>        
    </div>   
    <p class="text-center"><a href="/forgot">Forgot Password</a></p>
    <p class="text-center"><a href="/new">Create an Account</a></p>
     <script src="longin.js" async></script> 
