<div class="jumbotron jumbotron-fluid">
    <div class="container">
       <h1 class="display-4">PAGE NOT FOUND</h1>
       <p class="lead">Sorry the URL you are accessing is not defined</p>
    </div></div>