<div class="container">
    <form method=post>
        <input type="text" name="user">
        <input type="password" name="pass">
        <input type="submit" name= "butt" value="add">
    </form>    
</div>